.venv
.DS_Store
__pycache__
db
*.db-wal
*.db-shm
# SQLite
*.db
*.db-wal
*.db-shm
backend/app.db
backend/.env

# Node modules
frontend/frontend-server/node_modules/
frontend/node_modules/
node_modules/
node_modules